.section-3 .box .categories-container .category-card {
    width: 350px;
    height: 100px;
    border-radius: 4px;
    background-color: #fcfcfc;
    display: flex;
    border: 2px solid black;
}

.section-3 .box .categories-container .category-card  {
    width: 250px;
    height: 100px;
    border-radius: 4px 0px 0px 4px;
}

.section-3 .box .categories-container .category-card .category-card-content {
    width: 248px;
    padding: 16px;
}

.section-3 .box .categories-container .category-card .category-card-content p {
    margin-top: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #494949;
}

.section-3 {
    width: 100%;
    height: 80vh;
}

.section-3 .box {
    max-width: 1264px;
    height: 80vh;
    margin: 0 auto;
    padding: 0 32px;
    
}

.section-3 .box h2 {
    font-size: 40px;
    color: #fcfcfc;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .box .categories-container {
    height: 52vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

