.Login {
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(18,18,20,1) 0%, rgba(18,18,20,1) 50%, rgba(83,66,131,1) 100%);
}

.imgLogin {
    
    width: 500px;
}

.areaADM {
    width: clamp(290px, 300vw, 300px);
}

@media (max-width: 1100px) {
    .imgLogin {
        width: 280px;
    }
    
    .areaADM {
        font-size: 22px;
    }
}